{% extends 'base.html.twig' %}

{% block title %}Golem production{% endblock %}

{% block body %}
{{form_start(form)}}
{{form_widget(form)}}
<button>Product</button>
{{form_end(form)}}
{% endblock %}
